body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
  background: rgb(19, 19, 19);
  margin: auto;
}
h3 {
  margin: 0vw;
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button, .button {
  /* height: 10.66667vw; */
  border-radius: 2.66667vw;
  outline: none;
  /* border: none; */
}
.header {
    position: relative;
    width: 100%;
    height: 12vw;
    z-index: 4;
}
.header h2 {
  font-size: 4.8vw;
  font-weight: 600;
  line-height: 12vw;
  color: #fff;
  text-align: center;
}
ul {
  list-style: none;
  padding: initial;
}
div {
  margin: 0vw
}
.header .back {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 0;
  left: 0;
  background-image: url("../images/lottery/arrow001.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
  font-size: 0; }

  .header div.backtolist {
    position: absolute;
    right: 3vw;
    top: 4vw;
    color: rgb(255, 153, 0)
  }
  .list {
    background-color: black;
    color: white;
    height: auto;
    top: -5vw;
    position: relative;
  }

  .loginBody {
    text-align: center;
  }
  .loginBody .op{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0vw;
    opacity: 0.1;
    z-index: 3;
  }
  .loginBody .title {
    font-size: 10vw;
    position: relative;
    display: none;
    color: rgb(255, 0, 0);
  }
  .loginBody .title h1 {
    margin: 3vw 3vw 2vw 3vw;
  }

  .login {
    background-color: #fff;
    position: relative;
    width: 280px;
    height: 165px;
    padding: 2vw;
    margin:0 auto;
    border-radius: 2vw;
    display: none;
    z-index: 5;
  }
  .login span {
    font-size: 34px;
    font-weight: 700;
  }
  .login input {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    overflow: hidden;
  }
  .login button {
    font-size: 29px;
    height: 47px;
    width: 100%;
  }
  .hall {
    display: none;
    position: relative;
    height: -webkit-fill-available;
    padding: 20px;
    background-image: url('../images/whokills/forest.gif');
    filter:alpha(opacity=100);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: .7;
  }
  .hall .floatl {
    float: left;
    border: white 1px solid;
    border-radius: 2vw
  }
  .hall .floatr {
    float: right;
    border: white 1px solid;
    border-radius: 2vw
  }
  .hall .readymember {
    position: relative;
    width: 79vw;
    height: 545px;
    margin: 0 2vw 2vw 0;
    background-color: rgba(19, 19, 19, 0.9)
  }
  .hall .member {
    position: relative;
    width: 260px;
    height: 430px;
    margin: 0 0 2vw 0;
    background-color: rgba(19, 19, 19, 0.6)
  }
  .hall .carddisplay {
    position: relative;
    width: 79vw;
    height: 315px;
    background-color: rgba(19, 19, 19, 0.6)
  }
  .hall .modeselect {
    width: 260px;
    height: 430px;
    background-color: rgba(19, 19, 19, 0.6)
  }
  .hall .readymember h1 {
    position: absolute;
    font-size: 100px;
    margin: 0;
    color: rgb(36, 36, 36);
  }
  .hall .readymember button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 50px;
    left: 50%
  }
  .hall .member h3 {
    text-align: center;
    color: white;
    margin-top: 6px
  }
  .hall .member .memberList {
    margin: 1vw;
    padding: 10px 16px 24px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 17px;
    height: 285px;
  }
  .hall .member .memberList .countPoeple{
    position: absolute;
    bottom: 85px;
    right: 35px;
    color: white
  }
  .hall .member .ready {
    width: 100%;
    text-align: center;
  }
  .hall .member button{
    width: 60px;
    height: 30px;
    background-color: rgb(77, 77, 77);
    border-color: rgb(121, 121, 121);
    color: white
  }
  .hall .carddisplay .information {
    width: 190px;
    padding: 20px;
    color: white;
    font-size: 30px
  }
  .hall .carddisplay .card {
    float: left;
    width: 100%;
  }
  .hall .carddisplay img{
    width: 130px;
    height: 200px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    box-shadow:0px 0px 10px rgba(10,10,0.8);
    float: left
  }
  .hall .carddisplay img:nth-child(1){
    left:280px;
    transform: rotate(-15deg)
  }
  .hall .carddisplay img:nth-child(2){
    left:395px;
    top: 40px;
    transform: rotate(-6deg)
  }
  .hall .carddisplay img:nth-child(3){
    left:500px;
    top: 40px;
    transform: rotate(6deg);
  }
  .hall .carddisplay img:nth-child(4){
    left:615px;
    transform: rotate(15deg)
  }
  .hall .carddisplay img:nth-child(5){
    right: 258px;
  }
  .hall .carddisplay img:nth-child(6){
    right: 160px;
    z-index: 2;
    top:40px
  }
  .hall .carddisplay img:nth-child(7){
    right: 50px
  }
  .hall .modeselect h3 {
    text-align: center;
    color: white;
    margin-top: 6px
  }
  .hall .modeselect div {
    text-align: center;
    margin: 1vw;
    padding: 10px 16px 24px 16px;
    border-radius: 17px;
    height: 330px;
  }
  .hall .modeselect button {
    height: 50px;
    width: 100px;
    background-color: rgb(77, 77, 77);
    border-color: rgb(121, 121, 121)
  }





  ::-webkit-scrollbar {
    width:5px;
  }
  /*定义滚动条轨道
 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
  }
/*定义滑块
 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(175, 175, 175, 0.3);
    background-color:#555;
  }

  .red {
    color: #ff0000;
    font-weight: bolder;
  }

@media screen and (max-width: 600px){

}
