body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
  background: rgb(19, 19, 19);
  margin: auto;
}
h3 {
  margin: 0vw;
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button, .button {
  height: 10.66667vw;
  border-radius: 2.66667vw;
  outline: none;
  border: none;
}
.header {
    position: relative;
    width: 100%;
    height: 12vw;
    z-index: 4;
}
.header h2 {
  font-size: 4.8vw;
  font-weight: 600;
  line-height: 12vw;
  color: #fff;
  text-align: center;
}
ul {
  list-style: none;
  padding: inherit;
}
div {
  margin: 0vw
}
.header .back {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 0;
  left: 0;
  background-image: url("../images/lottery/arrow001.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
  font-size: 0; }

  .header div.backtolist {
    position: absolute;
    right: 3vw;
    top: 4vw;
    color: rgb(255, 153, 0)
  }
  .list {
    background-color: black;
    color: white;
    height: auto;
    top: -5vw;
    position: relative;
  }

  .loginBody {
    text-align: center;
  }
  .loginBody .op{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0vw;
    opacity: 0.1;
    z-index: 3;
  }
  .loginBody .title {
    font-size: 10vw;
    position: relative;
    display: none;
    color: rgb(255, 0, 0);
  }
  .loginBody .title h1 {
    margin: 3vw 3vw 2vw 3vw;
  }

  .login {
    background-color: #fff;
    position: relative;
    width: 280px;
    height: 165px;
    padding: 2vw;
    margin:0 auto;
    border-radius: 2vw;
    display: none;
    z-index: 5;
  }
  .login span {
    font-size: 34px;
    font-weight: 700;
  }
  .login input {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    overflow: hidden;
  }
  .login button {
    font-size: 29px;
    height: 47px;
    width: 100%;
  }
  .whokills {
    display: none;
    position: relative;
    height: -webkit-fill-available;
    /* background-image: url('../images/whokills/2.png'); */
    padding: 20px;
  }
  .whokills ul {
    padding: 0vw;
    margin: 1vw 0 0 0;
  }
  .whokills .topdiv {
    position: relative;
    height: 300px;
  }
  .whokills .topdiv button {
    float: right;
    position: relative;
    top: 124px;
    right: 93px;
    height: 40px;
    width: 70px;
    font-size: 18px;
  }
  .whokills .joinMemberList {
    position: relative;
    overflow: overlay;
    border-radius:10px;
  }
  .countPoeple{
    position: fixed;
    right: 52px;
    top: 230px;
    z-index: 10;
  }
  ::-webkit-scrollbar {
    width:5px;
  }
  /*定义滚动条轨道
 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
  }
/*定义滑块
 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(175, 175, 175, 0.3);
    background-color:#555;
  }
  .whokills .topdiv h1 {
    font: 700;
    font-size: 100px;
    margin: 0;
  }
  .whokills .topdiv div {
    position: absolute;
    right:0px;
    top: 23px;
    width: 200px;
    height: 200px;
    margin: 0 15px 0 0;
    background-color: rgb(255, 247, 230);
    border-style: double;
    padding: 10px;
  }
  .row1, .row2, .row3 {
    position: relative;
    width: 100%;
    height: 110px;
    margin: 4.18vw auto 0 auto;
    float: left
  }
  .row1 .active, .row2 .active, .row3 .active {
    background-color: #ff0000
  }
  .memberSeat {
    height: 100%;
    position: relative;
    width: 15.666%;
    margin: 0 0 0 10.4px;
    background-color:white;
    float: left;
    border-radius: 10px
  }
  .row1 :last-child {
    margin-right: 0vw;
  }
  .mid {
    margin: 0px 24vw;
    width: 15vw;
    height: 6vw;
    color: white;
    background-color: rgb(189, 0, 0);
    font-size: 25px;
    font-weight: bold;
  }
  .floatright {
    float: right;
  }
  .red {
    color: #ff0000;
    font-weight: bolder;
  }

@media screen and (max-width: 600px){
  .whokills .topdiv div {
    position: relative;
    margin: 0 auto;
  }
  .whokills .topdiv h1 {
    text-align: center;
  }
}
